html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection {
  background-color: rgba(81, 165, 180, 0.8431372549);
  color: white;
}

::selection {
  background-color: rgba(81, 165, 180, 0.8431372549);
  color: white;
}

::-moz-selection {
  background-color: rgba(81, 165, 180, 0.8431372549);
  color: white;
}

html {
  width: 100%;
  height: 100dvh;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #f1f1f1;
  color: #171717;
}

main {
  padding-top: 80px;
}

h1 {
  color: #f9f9f9;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  padding: 1rem;
  color: #171717;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

h3 {
  padding: 1rem;
  color: #f9f9f9;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  padding: 0.5rem 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

#contact {
  flex-direction: row;
  gap: 2rem;
  min-height: 71.6dvh;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #contact {
    flex-direction: column;
  }
}
.hidden {
  display: none;
}

#header_content {
  height: 62px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: rgba(81, 165, 180, 0.8431372549);
  box-shadow: 0 8px 32px 0 rgba(96, 164, 209, 0.486);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 998;
}

#menu li {
  display: inline;
}
#menu li a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 20px;
  padding: 20px 20px;
}
#menu li a:hover {
  color: #66acb8;
  transition: 0.7s ease;
  background: #f9f9f9;
}

#titulo h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #f9f9f9;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .responsive_menu nav ul li img {
    width: 7vw;
    color: #f9f9f9;
    filter: invert(99%) sepia(2%) saturate(2493%) hue-rotate(13deg) brightness(114%) contrast(93%);
  }
}
#about {
  flex-direction: column;
  margin: 2rem auto;
  width: 60%;
}

#conteudo {
  flex-direction: row;
  gap: 2rem;
  margin: 2vh auto;
}

.foto_perfil {
  width: 20dvh;
  height: auto;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #about {
    width: 90%;
  }
  #conteudo {
    flex-direction: column;
    margin: auto auto;
  }
}
#video {
  flex-direction: column;
  margin: 5dvh auto;
  width: 60%;
}

.youtube {
  margin: 5dvh 0;
  justify-self: center;
}
.youtube iframe {
  border-radius: 10px;
  box-shadow: 5px 5px 66px #747474, -5px -5px 66px #ffffff;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #video h2 {
    text-align: center;
  }
  .youtube iframe {
    width: 100%;
    height: 49.5dvh;
    margin: auto;
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 2rem 0;
  padding: 1.5rem;
  border: none;
}
form label {
  font-size: 1rem;
  text-align: left;
  font-weight: 500;
}
form input,
form textarea {
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  border-radius: 1.25rem;
  border: none;
  width: 100%;
  font-size: 1rem;
}
form span {
  margin: 0 0 0.5rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: red;
}
form button {
  border-radius: 0.75rem;
  text-align: center;
  --color: #00a97f;
  padding: 0.75rem 2rem;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid rgba(81, 165, 180, 0.8431372549);
  font-family: inherit;
  text-transform: uppercase;
  background: rgba(38, 150, 165, 0.7411764706);
  color: #f9f9f9;
  z-index: 1;
}
form button::before,
form button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background: rgba(38, 150, 165, 0.7411764706);
  transition: 1s ease;
}
form button::before {
  top: -1em;
  left: -1em;
}
form button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
form button:hover::before,
form button:hover::after {
  height: 50dvh;
  width: 50vw;
}
form button:hover {
  color: #f9f9f9;
  background: #66acb8;
}
form button:active {
  filter: brightness(0.8);
}

textarea {
  resize: none;
  height: 5rem;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  form {
    width: 90vw;
  }
}
#endereco {
  font-weight: 540;
  font-size: 1.2rem;
}

#mapa {
  width: 25vw;
  flex-direction: column;
  gap: 3rem;
  border-radius: 5px;
}

#endereco > p {
  font-size: 1rem;
  text-align: justify;
  font-weight: 600;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #mapa {
    width: 90vw;
    margin-bottom: 5dvh;
    flex-direction: column;
    gap: 0;
  }
  #endereco {
    font-size: 1rem;
  }
}
footer {
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  color: #f9f9f9;
  background-color: rgba(38, 150, 165, 0.7411764706);
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
footer h3 {
  z-index: 2;
}

#redes_sociais {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  width: 320px;
}

.social_icon {
  width: 4rem;
  height: 4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%) hue-rotate(23deg) brightness(95%) contrast(87%);
}

.social_icon:hover {
  animation: pulse 0.7s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  25% {
    opacity: 0.8;
  }
  55% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .social_icon {
    width: 10vw;
    height: 10vw;
  }
  footer {
    padding: 0.7rem 2rem;
  }
  footer h3 {
    font-size: 1rem;
  }
}
.menuMobileAberto {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  min-height: 100dvh;
  width: 100vw;
  background-color: #66acb8;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  z-index: 20;
  -webkit-clip-path: circle(0% at 100% 0%);
          clip-path: circle(0% at 100% 0%);
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
}
.menuMobileAberto.active {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
.menuMobileAberto.inactive {
  -webkit-clip-path: circle(0% at 0% 100%);
          clip-path: circle(0% at 0% 100%);
}
.menuMobileAberto div:first-child {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(157, 223, 231, 0.5882352941);
  height: 100dvh;
  z-index: 800;
}
.menuMobileAberto div:first-child div {
  width: 80%;
  height: 70dvh;
  border-radius: 5px;
  background: rgba(248, 248, 248, 0.9333333333);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.menuMobileAberto div:first-child div span {
  border: 1px solid #f9f9f9;
  background-color: rgba(81, 165, 180, 0.8431372549);
  margin: -10dvh 0 5dvh 0;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.menuMobileAberto div:first-child div span img {
  width: 5vw;
}
.menuMobileAberto div:first-child div span img:nth-child(1) {
  width: 5vw;
}
.menuMobileAberto div:first-child div hr {
  width: 75%;
  border: 0.5px solid rgba(157, 223, 231, 0.5882352941);
  margin-bottom: -20dvh;
}
.menuMobileAberto div:first-child div ul {
  z-index: 22;
  padding: 5dvh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 30%;
}
.menuMobileAberto div:first-child div ul li {
  height: 5vh;
}
.menuMobileAberto div:first-child div ul li a p {
  width: 100%;
  padding: 0vh 8vw;
  border-radius: 9px;
  font-weight: 500;
  font-size: 1.8rem;
  color: rgba(81, 165, 180, 0.8431372549);
}
.menuMobileAberto div:first-child div ul li a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.wave {
  position: absolute;
  width: 300vw;
  height: 250dvh;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -15vw;
  margin-top: -20dvh;
  background: linear-gradient(744deg, #66acb8, rgba(38, 150, 165, 0.7411764706) 60%, #66acb8);
  z-index: 0;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 15000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 28s;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 28s;
}

.wave:nth-child(3) {
  animation-duration: 45ms;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110dvh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 30dvh;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}/*# sourceMappingURL=styles.css.map */