* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: sans-serif;
}

:root {
  --purple-200: #9a7bd1;
  --purple-500: #5d36c8bd;
  --purple-800: #3e1f88ad;

  --black-800: #171717;

  --gray-200: #f1f1f1;
  --gray-400: #505861;

  --white: #f9f9f9;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
    background-color: var(--purple-800);
    color: white;
}

::-moz-selection {
    background-color: var(--purple-800); 
    color: white; 
}

html {
  width: 100%;
  height: 100dvh;
}

body {
  background: var(--gray-200);
  color: var(--black-800);
}

main {
  padding-top: 80px;
}

h1 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  padding: 1rem;
  color: var(--black-800);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

h3 {
  padding: 1rem;
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  padding: 0.5rem 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

#header_content {
  height: 6dvh;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--purple-800);
  border-bottom: 1px solid var(--purple-500);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#menu li {
  display: inline;
  padding: 1rem;
}

#menu li a {
  text-decoration: none;
  color: var(--white);
  font-size: 20px;
  padding: 1.9dvh 20px;
}

#menu li a:hover {
  color: var(--purple-200);
  transition: .7s ease;
  background: var(--white); 
}


#titulo h1{
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
}


#about {
  flex-direction: column;
  margin: 2rem auto;
  width: 60%;
}

#conteudo {
  flex-direction: row;
  gap: 2rem;
  margin: 2vh auto;
}

.foto_perfil {
  width: 20dvh;
  height: auto;
}

#video {
  flex-direction: column;
  margin: 5dvh auto;
  width: 60%;
}

.youtube {
  margin: 5dvh 0;
  justify-self: center;
}

.youtube iframe{
    border-radius: 10px;
    box-shadow:  5px 5px 66px #747474,
             -5px -5px 66px #ffffff;
}

footer {
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  color: var(--white);
  background-color: var(--purple-500);
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

footer h3{
  z-index: 2;
}

.wave {
  position: absolute;
  width: 200vw;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -15vw;
  margin-top: -20dvh;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  z-index: 0;
}


#redes_sociais {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  width: 320px;
}

.social_icon {
  width: 4rem;
  height: 4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%)
    hue-rotate(23deg) brightness(95%) contrast(87%);
}

.social_icon:hover {
  filter: brightness(0) saturate(100%) invert(65%) sepia(59%) saturate(2437%)
    hue-rotate(213deg) brightness(86%) contrast(88%);
}


.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 15000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#contact {
  flex-direction: row;
  gap: 2rem;
  min-height: 71.6dvh;
  justify-content: space-evenly;
}

form {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 2rem 0;
  padding: 1.5rem;
  border: none;
}

form label {
  font-size: 1rem;
  text-align: left;
  font-weight: 500;
}

form input,
textarea {
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  border-radius: 1.25rem;
  border: none;
  width: 100%;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 5rem;
}

form span {
  margin: 0 0 0.5rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: red;
}

form button {
  border-radius: 0.75rem;
  text-align: center;
  --color: #00a97f;
  padding: 0.75rem 2rem;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid var(--purple-500);
  font-family: inherit;
  text-transform: uppercase;
  background: var(--purple-800);
  color: var(--white);
  z-index: 1;
}

form button::before,
form button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background: var(--purple-800);
  transition: 1s ease;
}

form button::before {
  top: -1em;
  left: -1em;
}

form button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

form button:hover::before,
form button:hover::after {
  height: 50dvh;
  width: 50vw;
}

form button:hover {
  color: var(--white);
  background: var(--purple-500);
}

form button:active {
  filter: brightness(0.8);
}

#endereco {
  font-weight: 540;
  font-size: 1.2rem;
}

#mapa {
  width: 480px;
  flex-direction: column;
  gap: 3rem;
  border-radius: 5px;
}

#endereco > p {
  font-size: 1rem;
  text-align: justify;
  font-weight: 600;
}
