html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection {
  background-color: rgba(11, 75, 100, 0.6784313725);
  color: white;
}

::selection {
  background-color: rgba(11, 75, 100, 0.6784313725);
  color: white;
}

::-moz-selection {
  background-color: rgba(11, 75, 100, 0.6784313725);
  color: white;
}

html {
  width: 100%;
  height: 100dvh;
}

body {
  background: #f1f1f1;
  color: #171717;
}

main {
  padding-top: 80px;
}

h1 {
  color: #f9f9f9;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  padding: 1rem;
  color: #171717;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

h3 {
  padding: 1rem;
  color: #f9f9f9;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  padding: 0.5rem 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_start {
  display: flex;
  justify-content: flex-start;
}

#contact {
  flex-direction: row;
  gap: 2rem;
  min-height: 71.6dvh;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #contact {
    flex-direction: column;
  }
}
.hidden {
  display: none;
}

#header_content {
  height: 62px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: rgba(11, 75, 100, 0.6784313725);
  border-bottom: 1px solid rgba(54, 154, 200, 0.7411764706);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#menu li {
  display: inline;
  padding: 1rem;
}
#menu li a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 20px;
  padding: 20px 20px;
}
#menu li a:hover {
  color: #7bc7d1;
  transition: 0.7s ease;
  background: #f9f9f9;
}

#titulo h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #f9f9f9;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .responsive_menu nav ul li img {
    width: 7vw;
    color: #f9f9f9;
    filter: invert(99%) sepia(2%) saturate(2493%) hue-rotate(13deg) brightness(114%) contrast(93%);
  }
}
#about {
  flex-direction: column;
  margin: 2rem auto;
  width: 60%;
}

#conteudo {
  flex-direction: row;
  gap: 2rem;
  margin: 2vh auto;
}

.foto_perfil {
  width: 20dvh;
  height: auto;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #about {
    width: 90%;
  }
  #conteudo {
    flex-direction: column;
    margin: auto auto;
  }
}
#video {
  flex-direction: column;
  margin: 5dvh auto;
  width: 60%;
}

.youtube {
  margin: 5dvh 0;
  justify-self: center;
}
.youtube iframe {
  border-radius: 10px;
  box-shadow: 5px 5px 66px #747474, -5px -5px 66px #ffffff;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #video h2 {
    text-align: center;
  }
  .youtube iframe {
    width: 100%;
    height: 49.5dvh;
    margin: auto;
  }
}
form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  margin: 2rem 0;
  padding: 1.5rem;
  border: none;
}
form label {
  font-size: 1rem;
  text-align: left;
  font-weight: 500;
}
form input,
form textarea {
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
  border-radius: 1.25rem;
  border: none;
  width: 100%;
  font-size: 1rem;
}
form span {
  margin: 0 0 0.5rem 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: red;
}
form button {
  border-radius: 0.75rem;
  text-align: center;
  --color: #00a97f;
  padding: 0.75rem 2rem;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid rgba(11, 75, 100, 0.6784313725);
  font-family: inherit;
  text-transform: uppercase;
  background: rgba(54, 154, 200, 0.7411764706);
  color: #f9f9f9;
  z-index: 1;
}
form button::before,
form button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background: rgba(54, 154, 200, 0.7411764706);
  transition: 1s ease;
}
form button::before {
  top: -1em;
  left: -1em;
}
form button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
form button:hover::before,
form button:hover::after {
  height: 50dvh;
  width: 50vw;
}
form button:hover {
  color: #f9f9f9;
  background: #7bc7d1;
}
form button:active {
  filter: brightness(0.8);
}

textarea {
  resize: none;
  height: 5rem;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  form {
    width: 90vw;
  }
}
#endereco {
  font-weight: 540;
  font-size: 1.2rem;
}

#mapa {
  width: 25vw;
  flex-direction: column;
  gap: 3rem;
  border-radius: 5px;
}

#endereco > p {
  font-size: 1rem;
  text-align: justify;
  font-weight: 600;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #mapa {
    width: 90vw;
  }
}
footer {
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  color: #f9f9f9;
  background-color: rgba(54, 154, 200, 0.7411764706);
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
footer h3 {
  z-index: 2;
}

#redes_sociais {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  width: 320px;
}

.social_icon {
  width: 4rem;
  height: 4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%) hue-rotate(23deg) brightness(95%) contrast(87%);
}

.social_icon:hover {
  filter: brightness(0) saturate(100%) invert(65%) sepia(59%) saturate(2437%) hue-rotate(213deg) brightness(86%) contrast(88%);
}

.menuMobileAberto {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100vw;
  background-color: #7bc7d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}
.menuMobileAberto span {
  z-index: 21;
  margin-top: 6dvh;
  display: flex;
  align-items: center;
}
.menuMobileAberto span img {
  width: 7vw;
}
.menuMobileAberto span img:nth-child(1) {
  width: 7vw;
}
.menuMobileAberto ul {
  z-index: 22;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}
.menuMobileAberto a {
  padding-bottom: 1vh;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 15000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 28s;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 28s;
}

.wave:nth-child(3) {
  animation-duration: 45ms;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wave {
  position: absolute;
  width: 200vw;
  height: 250dvh;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -15vw;
  margin-top: -20dvh;
  background: linear-gradient(744deg, #7bc7d1, rgba(54, 154, 200, 0.7411764706) 60%, #7bc7d1);
  z-index: 0;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 15000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 28s;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 28s;
}

.wave:nth-child(3) {
  animation-duration: 45ms;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */