#about {
  flex-direction: column;
  margin: 2rem auto;
  width: 60%;
}

#conteudo {
  flex-direction: row;
  gap: 2rem;
  margin: 2vh auto;
}

.foto_perfil {
  width: 20dvh;
  height: auto;
}

@media screen and (max-width: 768px) and (orientation: portrait){ 

  #about {
    width: 90%;
  }

  #conteudo {
    flex-direction: column;
    margin: auto auto;
  }


}
