@use "../abstract/variaveis";

footer {
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  color: variaveis.$white;
  background-color: variaveis.$color-500;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 1;

  h3 {
    z-index: 2;
  }
}


#redes_sociais {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  width: 320px;
}

.social_icon {
  width: 4rem;
  height: 4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%)
    hue-rotate(23deg) brightness(95%) contrast(87%);
}

.social_icon:hover {
  animation: pulse .7s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  25% {
    opacity: 0.8;
  }
  55% {
    transform: scale(1.05);
    opacity: 0.7;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .social_icon{
    width: 13vw;
    height: 13vw;
  }
}

