@use "../abstract/variaveis";

footer {
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 2rem;
  color: variaveis.$white;
  background-color: variaveis.$purple-500;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  z-index: 1;

  h3 {
    z-index: 2;
  }
}


#redes_sociais {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0 0;
  width: 320px;
}

.social_icon {
  width: 4rem;
  height: 4rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7457%)
    hue-rotate(23deg) brightness(95%) contrast(87%);
}

.social_icon:hover {
  filter: brightness(0) saturate(100%) invert(65%) sepia(59%) saturate(2437%)
    hue-rotate(213deg) brightness(86%) contrast(88%);
}

