@use "../abstract/variaveis";

#header_content {
  height: 62px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: variaveis.$color-800;
  box-shadow: 0 8px 32px 0 rgba(96, 164, 209, 0.486);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 998;
}

#menu {
  
  li {

    display: inline;

    a {
      
      text-decoration: none;
      color: variaveis.$white;
      font-size: 20px;
      padding: 20px 20px;
    }

    a:hover {
      color: variaveis.$color-200;
      transition: 0.7s ease;
      background: variaveis.$white;
    }
  }
}

#titulo {
  h1 {
    font-size: 1.4rem;
    font-weight: 700;
    color: variaveis.$white;
  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .responsive_menu nav ul li img {
    width: 7vw;
    color: variaveis.$white;
    filter: invert(99%) sepia(2%) saturate(2493%) hue-rotate(13deg)
      brightness(114%) contrast(93%);
  }
}
