@use "../abstract/variaveis";

.menuMobileAberto {
    position: absolute;
    top:0;
    left: 0;
    height: 100dvh;
    width: 100vw;
    background-color: variaveis.$color-200;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
    z-index: 20;
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 0.3s ease-in-out;

    &.active {
      clip-path: circle(100% at 50% 50%);
    }

    &.inactive {
      clip-path: circle(0% at 100% 0%);
    }
    
        span{
            z-index: 21;
            margin-top: 6dvh;
            display: flex;
            align-items: center;
            img{
                width: 7vw;
            }
            img:nth-child(1){
                width: 7vw;
            }
        }
        ul{
            z-index: 22;
            padding-top: 15vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3vh;
        }

    
    a{
        padding-bottom: 1vh;
    }
}





