@use "../abstract/variaveis";

.wave {
  position: absolute;
  width: 200vw;
  height: 250dvh;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -15vw;
  margin-top: -20dvh;
  background: linear-gradient(
    744deg,
    variaveis.$color-200,
    variaveis.$color-500 60%,
    variaveis.$color-200
  );
  z-index: 0;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 15000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 28s;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 28s;
}

.wave:nth-child(3) {
  animation-duration: 45ms;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


